 table, tr, th, td {
            border: 10px dashed yellow;
            border-collapse: collapse;
            padding: 8px;
        }

        table {
            width: 60%;
            margin: 20px auto;
        }

        h1, h2 {
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 0.9em;
            color: gray;
        }

        body {
            background-color: lightblue;
            color: gray
        }