 table, tr, th, td {
            border: 10px dashed yellow;
            border-collapse: collapse;
            padding: 8px;
        }

        table {
            width: 60%;
            margin: 20px auto;
        }


        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 0.9em;
            color: gray;
        }

        body {
            background-color: red;
            cursor:progress;
        }

        .link {
            background-color: rgb(255, 238, 0);
            border : 5px solid rgb(53, 21, 128);
        }
        
        a {
            color: rgb(255, 0, 251);
        }

        #info {
            font-size: 1.2em;
            color: darkgreen;
            margin-bottom: 15px;
        }

        .checker {
            background-color: rgb(4, 255, 251);
            color: white;
        }

        .text {
            background-color: rgb(255, 0, 238);
            color: rgb(255, 247, 0);
            font-family: 'Brush Script MT', cursive;
        }

        #h2 {
            text-align: center;
            color: blue;
            font-family: 'Brush Script MT', cursive;
        }

        #h1 {
            text-align: center;
            color: green;
            font-family: 'Brush Script MT', cursive;
            padding: 67px;
            border: dashed 9px blue;
            margin: 30px;
        }


    td:hover, th:hover, caption:hover {
    font-weight: bold;
    color: rgb(171, 11, 11);
}